@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

ol{
  list-style-type:upper-alpha;
  padding: 0%;
  text-align: none;
  list-style-position: inside;
}

ul{
  list-style-type: square;
  text-align: none;
  list-style-position: inside;
  padding: 0%;
  /*list-style-image: url("../imaes/checkmark.jpg");*/
}

ul li:nth-child(odd){
  color:red;
}

::marker{
  color:blueviolet;
  font-family: fantasy;
  font-size: 1em ;
  content:"only 7$ >>" ;
}