@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

main{
    opacity: ;
}


a:visited{
    color:purple;
}

a:hover a:focus{
    color:hsla(130, 100%, 50%, 0.6);
    background: gold;
}

a:active{
    color:blueviolet;
}